doctype html
html
    head
      title= KBReview
      //font MULI css
      link(href='https://fonts.googleapis.com/css?family=Muli' rel="stylesheet")
      //bootstrap css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      //angular css
      link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")

      //body font css
      link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
      meta(name='viewport' content="width=device-width, initial-scale=1")

      //adding angular icons
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

      //google analytics
      //TODO: Add google analytics

      //defines the angular appp and controller
      //angular files
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js")

      //angular material libraries
      script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
      script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
      script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
      script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
      //jquery and angular script
      script(src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")

      //charts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js")

      body(ng-app='formApp' style='height=100% !important')
      block content
